<div class="board-bar">
  <p class="board-name">Board</p>
  <div *ngIf="board.columns.length < 4">
    <mat-form-field class="example-full-width">
      <input matInput value="New column" #columnValue />
    </mat-form-field>
    <button mat-button (click)="addNewColumn(columnValue)">Add column</button>
  </div>
</div>

<div class="board-wrapper" *ngIf="display">
  <div class="board-columns" cdkDropListGroup>
    <div
      class="board-column"
      *ngFor="let column of board?.columns; let i = index"
    >
      <div class="">
        <p class="column-title">
          {{ column.columnName
          }}<fa-icon
            [icon]="faPlus"
            (click)="addTask(i)"
            class="add-icon cursor-style"
          ></fa-icon>
          <fa-icon
            class="spacer"
            [icon]="faTimes"
            (click)="deleteColumn(column._id)"
            *ngIf="column.tasks.length === 0"
          ></fa-icon>
        </p>
      </div>

      <!-- add task name -->
      <div
        *ngIf="addTaskName && currentAddIndex === i"
        class="task-container"
        style="display: fk"
      >
        <div>
          <div class="task" cdkDrag [cdkDragData]="draggedTask">
            <div>
              <textarea
                name="task"
                id="task"
                class="textarea-style"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
                value="task"
                #newTask
              ></textarea>
            </div>
            <div class="spacer-mod">
              <fa-icon
                class="spacer"
                [icon]="faCheck"
                (click)="saveTask(newTask.value, column._id)"
              ></fa-icon>
              <fa-icon
                [icon]="faTimes"
                (click)="cancelAdd()"
                class="spacer"
              ></fa-icon>
            </div>
          </div>
        </div>
        <div class="error" *ngIf="errorMsg !== ''">{{ errorMsg }}</div>
      </div>

      <div
        class="tasks-container"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event, i, column)"
      >
        <p style="padding-top: 100px;" *ngIf="column.tasks?.length === 0">.</p>
        <div
          class="task"
          *ngFor="let item of column.tasks"
          cdkDrag
          [cdkDragData]="item"
        >
          <!--  w-100 d-flex justify-content-between -->
          <div class="">
            <div>
              <textarea
                name="task"
                id="task"
                class="textarea-style"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
                *ngIf="editTaskName && currentEditTaskId === item._id"
                #editing
                (change)="changeName = $event.target.value"
                ([ngModel])="(changeName)"
              ></textarea>
              <span *ngIf="!editTaskName || currentEditTaskId !== item._id">{{
                item.taskName
              }}</span>
            </div>

            <div class="space-top">
              <span
                ><fa-icon
                  class=""
                  [icon]="faEdit"
                  (click)="editTask(item)"
                  *ngIf="!editTaskName"
                ></fa-icon>
                <fa-icon
                  [icon]="faCheck"
                  (click)="editTask(item, changeName)"
                  *ngIf="editTaskName && currentEditTaskId === item._id"
                ></fa-icon>
                <fa-icon
                  class="spacer"
                  [icon]="faTimes"
                  (click)="cancelTask()"
                  *ngIf="editTaskName && currentEditTaskId === item._id"
                ></fa-icon>
                <fa-icon
                  class="spacer"
                  [icon]="faDumpster"
                  (click)="deleteTask(item)"
                  *ngIf="!editTaskName"
                ></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
